
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<center>
<div class="container">
	<img src = <%= @pie %> />
	<br/>
	<br/>
	<img src = <%= @line %> />
	<br/>
	<br/>
	<h1>
		Average Score:<%= @avg %>
	</h1>
</div>
</center>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>